# passport web
https://passport.xsyndev.io {
	log {
		output discard
	}
	reverse_proxy * localhost:3001
	tls ./certs/__xsyndev_io.crt ./certs/_.xsyndev.io.key {
        ca ./certs/__xsyndev_io.ca-bundle
    }
}

https://play.supremacygame.io {
	log {
		output discard
	}
	reverse_proxy * localhost:3002
	tls ./certs/__supremacygame_io.crt ./certs/_.supremacygame.io.key {
        ca ./certs/__supremacygame_io.ca-bundle
    }
}

https://api.xsyndev.io {
	log {
		output discard
	}
	reverse_proxy * localhost:8086
	tls ./certs/__xsyndev_io.crt ./certs/_.xsyndev.io.key {
        ca ./certs/__xsyndev_io.ca-bundle
    }
}

https://api.supremacygame.io {
	log {
		output discard
	}
	reverse_proxy * localhost:8084
	tls ./certs/__supremacygame_io.crt ./certs/_.supremacygame.io.key {
        ca ./certs/__supremacygame_io.ca-bundle
    }
}