http://localhost:5003 {
	log {
		output discard
	}
	reverse_proxy * localhost:3001
	reverse_proxy /api/* localhost:8086
}

http://localhost:5004 {
	log {
		output discard
	}
	reverse_proxy * localhost:3000
	reverse_proxy /api/* localhost:8086
}

http://localhost:8081 {
	log {
		output discard
	}
	reverse_proxy * localhost:8082
	reverse_proxy /api/* localhost:8084
}
